{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">{% block header %}Posts Board{% endblock %}</h1>
<div id="posts">
  {% for post in posts %}
  <div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center">
      {% if post.id in user_favorites_id %}
      <a href="/flag-favorite/{{post.id}}"> <i class="fa-solid fa-star"></i> Remove from favorites</a>
      {% else %}
      <a href="/flag-favorite/{{post.id}}"> <i class="fa-regular fa-star"></i> Add to favorites </a>
      {% endif %}
      <a href="/user_posts/{{post.user.email}}">{{post.user.email}} ({{post.user.first_name}})</a>

      {% if user.id == post.author or user.email == ADMIN_EMAIL %}
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
        ></button>
        <ul class="dropdown-menu">
          <li>
            <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
          </li>
        </ul>
      </div>
      {% else %}
      <i class="fa-solid fa-lock"></i>
      {% endif %}
    </div>
    <div class="card-body">
      <div class="card-text">{{post.text}}</div>
    </div>
    <div class="card-footer text-muted">{{post.date_created}}</div>
  </div>
  <br > {% endfor %}
</div>
{% block footer %}

{% endblock %}
{% endblock %}
